{% extends "base.html" %}

{% block content %}
<h2>All Bookings</h2>
<table>
    <tr>
        <th>Booking ID</th>
        <th>Tour ID</th>
        <th>User Name</th>
        <th>User Email</th>
        <th>Booking Date</th>
        <th>Number of People</th>
    </tr>
    {% for booking in bookings %}
    <tr>
        <td>{{ booking.id }}</td>
        <td>{{ booking.tour_id }}</td>
        <td>{{ booking.user_name }}</td>
        <td>{{ booking.user_email }}</td>
        <td>{{ booking.booking_date }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
